html
    head
        title #{title}
        link(rel="stylesheet", href="css/favorite.css")
    body            
        each hero in model  
                        h1= hero.name
                        h1= hero.full_name 
                        h1= hero.alignment
                        h1= hero.race
                        form(action="/" + hero.id method="post")
                            button(class="button" type="submit") -
                        
