doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/home.css")
        title #{title}
    body   
            form.hero(action="/")
                        input(type="text" placeholder="Movie-Name" name="hero" class="searchBar" value=searchTerm)
                        button Search
            if data.results
                each hero in data.results
                    if hero.name
                            .container
                                .movie-card
                                    .heroInformatin
                                    .heroname= hero.name
                                    .fullName= hero[`biography`][`full-name`]
                                    .alignment= hero.biography.alignment
                                    .race= hero.appearance.race
                                    img(src=hero.image.url, alt="" class="heroImage")
                                    form(action="/addfavorite" method="post")
                                        input(type="hidden" name="hero_id" value=hero.id)
                                        input(type="hidden" name="name" value=hero.name)
                                        input(type="hidden" name="full_name" value=hero[`biography`][`full-name`])
                                        input(type="hidden" name="alignment" value= hero.biography.alignment)
                                        input(type="hidden" name="race" value= hero.appearance.race)
                                        input(type="hidden" name="img" value= hero.image.url)
                                        button(class="button" type="submit") +
            else 
                p= message
